<%= render 'navbar' %>

  <div class="row">
    <div class="col-md-6">
      <div>
        <% @todos.each do |todo| %>
          <ul>
            <ul class="list-group">
            <li class="list-group-item active"><%= todo.title %></li>
            <li class="list-group-item"><%= image_tag  todo.avatar.url(:medium) %></li>
            <li class="list-group-item"><%= todo.description %></li>
            <li class="list-group-item"><%= todo.user.username %></li>
	      </ul>
        <% end %>	
      </div>
    </div>
  </div>

  <%= link_to 'Back', pages_index_path %>

